body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(to right, #eaeaea, #d1d1d1);
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

header {
    width: 100%;
}

.editor-container {
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    margin-top: 20px;
}

/* Button Styles */
.animated-button {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.animated-button:hover {
    transform: scale(1.05);
}

/* CodeMirror Styles */
.CodeMirror {
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

pre {
    background: #f8f9fa;
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .editor-container {
        padding: 15px;
    }

    h2 {
        font-size: 1.5em;
    }
}
